
body{
    margin: 0;
    padding: 0;
    background-color: #6D5D6E;
    font-family: "Nunito", sans-serif;
}

.imagem{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-start; 
}

.banner .navbar{
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    text-decoration: none;
    color:#F4EEE0;
    font-size: 25px;
}

.banner .container{
    width: 80%;
    margin:auto;
    display: flex;
}

.cabecalho{
    display: flex;
    flex-direction: row;
}
.banner .cadastros{
    display: flex;
    justify-content: center;
}

.banner{
    background-image: url(../assets/banner5.webp);
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.login{
    width: fit-content;
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-right: 10px;
    background-color: #4F4557;
    border-radius: 10px;
}

.login a{
    text-decoration: none;
    color: #F4EEE0;
    font-size: 20px;
}

.login li{
    display: flex;
    margin-right: 35px;
    margin-left: 0px;
}
.signin{
    width: 110px;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #4F4557;
    border-radius: 10px;
}

.signin a{
    text-decoration: none;
    color: #F4EEE0;
    font-size: 20px;
}

.frase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #F4EEE0;
    margin-left: 40%;
    margin-top: 20px;
}

.frase .parte1 {
    font-size: 30px;
}

.frase .parte2{
    margin-left: 11%;
    font-size: 20px; 
}

/* @keyframes changeColor{
    to{
        filter: grayscale(0%);
    }
    from{
        filter: grayscale(100%);
    }
} */

.membros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.membros .card img{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    filter: grayscale(100%);
}

.membros .card img:hover{
    filter: grayscale(0%);
    transition: 1s;
}

@keyframes subir {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }  
}

.artista{
    display: flex;
    flex-direction: row;
    animation: subir 1s;
}

.artista .info{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.artista .info p{
    display: flex;
    margin-right: 40px;
    font-size: 18px;
    text-align: justify;
}

.historia{
    display: flex;
    background-image: url(../assets/historia-carrossel/imagem1-carrossel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    margin-top: 40px;
    
}
.historia h3{
    margin-left: 100px;
    margin-top: 40px;
    font-size: 25px;
    color: #F4EEE0;
    animation: subir 1s;
}

.historia .artista img{
    margin-bottom: 35px;
    margin-right: 60px;
}

.historia .artista{
    display: flex;
    align-items: flex-start;
}

.historia .artista .info{
    display: flex;
    color: #F4EEE0;
    margin: 10px 500px 50px 100px;
}

.carrossel{
    display: flex;
    flex-direction: row; 
    width: 200px;
    margin-top: 35px;
}

.carrossel .container{
    display: flex;
    width: 1340px;
    transition: transform 0.5 ease;
    transform: translateX(0) infinite;
}

/* @keyframe transicaoCarrossel{
    
} */
  
.carrossel img{
    display: flex;
    flex-direction: row; 
    width: 200px;
    height: 200px;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
}

.albuns .setas{
    height: 40px;
    width: 40px;
    margin-top: 50px;
}

.albuns h3{
    margin-left: 100px;
    font-size: 25px;
    color: #F4EEE0;
}
