* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#000, #393646, #6D5D6E);
}

.mao{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: mao-andando 3s infinite linear;
}

.personagem{
    width: 80px;
    position: absolute;
    bottom: 0;
    
}

.pulo{
    animation: pulo 550ms ease-out;
}


/* .dragao{
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 300px;
    animation: mao-andando 3s infinite linear;
} */

.vida{
    display: flex;
    /* position: absolute; */
    height: 40px;
    width: 40px;
    left: 0;
    flex-direction: row;
}

.fim-de-jogo{
    background-color: #6D5D6E ;
    opacity: 0.8; 
}

@keyframes mao-andando{
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes pulo{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}