body{
    margin: 0;
    padding: 0;
    background-color: #393646;
    font-family: "Nunito", sans-serif;
}

.banner .navbar{
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

#menu {
    display: none;
    background-color: #F4EEE0;
    opacity: 0.8;
    border-radius: 10px;
    position: absolute;
    height: 100px;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-left:80px ;
    margin-top: 20px;
}

#menu-button{
    position: absolute;
    font-size: 50px;
    margin-left:20px ;
}

#menu-button:hover{
    cursor: pointer;
}

#menu span{
    display: flex;
    color: #393646;
    padding: 5px 5px 5px 5px;
}

#menu span:hover{
    cursor: pointer;
}

.banner{
    background-image: url('../assets/imagem-fundo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    color: #F4EEE0;
}
.navbar{
    display: flex;
    margin-left: 450px;
}

.navbar a{
    text-decoration: none;
    color: #F4EEE0;
    font-size: 25px;
    margin: 0px 30px 0px 30px;
}

.navbar .secoes{
    margin-top: 20px;
}

.frase1{
    display: flex;
    font-size: 35px;
    margin-left: 100px;
    margin-top: 200px;
    font-weight: bold;
}

.frase2{
    font-size: 20px;
    margin-left: 100px;
}

.bandas-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.bandas h2{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    color: #F4EEE0;
}

.card{
    margin-bottom: 30px;
}

.card p{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #F4EEE0;
}

.quiz{
    background-image: url(../assets/imagem-fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    padding-top: 40px;
    padding-left: 60px;
}

.perguntas{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
}

.alternativas input{    
    margin-top: 20px;
}

.card-quiz{
    background-color: #F4EEE0;
    opacity: 0.8;
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 30px;
    height: 440px;
    padding-top: 20px;
    border-radius: 10px;
}

.card-quiz span p{
    opacity: 0;
}

.card-quiz button{
    /* display: flex; */
    margin-top: 20px;
    height: 40px;
    width: 100px;
    font-family: "Nunito", sans-serif;
    background-color: #6D5D6E;
    color: #F4EEE0;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 20px;
}

.card-quiz button:hover{
    cursor: pointer;
    background-color: #F4EEE0;
    color: #6D5D6E;
}

.rodape{
    height: 110px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #F4EEE0;
    justify-content: space-around;
    align-items: center;
}

.rodape img{
    height: 40px;
    width: 40px;
}